
<app-alerts *ngIf="dataSuccess"></app-alerts>

<div class="contents wrapper position-relative">
    <h4>New Characters</h4>
    <hr>
      <form [formGroup]="forma"
            id="form-characters"
            (ngSubmit)="createCharacter(forma)"
            novalidate="novalidate">
        <!-- Name -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Name</label>
          <div class="col-8">
            <input class="form-control"
                  type="text"
                  placeholder="Name"
                  formControlName="name"
                  required
                  >
          </div>
        </div>
        <!-- ID -->
        <div class="form-group row">
          <label class="col-2 col-form-label">ID</label>
          <div class="col-8">
            <input class="form-control"
                  type="number"
                  placeholder="ID"
                  formControlName="id"
                  required
                  >
          </div>
        </div>
        <!-- Heigth -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Height</label>
          <div class="col-md-8">
            <input class="form-control"
                  type="text"
                  placeholder="Height"
                  formControlName="height"
                  >
          </div>
        </div>
        <!-- Mass -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Mass</label>
          <div class="col-md-8">
            <input class="form-control"
                  type="text"
                  placeholder="Mass"
                  formControlName="mass"
                  >
          </div>
        </div>
        <!-- Hair Color -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Hair color</label>
          <div class="col-md-8">
            <select class="form-control"
                    formControlName="hair_color"
                    >
              <option *ngFor="let color of newCharacters.hair_color"  [ngValue]="color.name">{{ color.name }}</option>
            </select>
          </div>
        </div>
        <!-- Skin Color -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Skin color</label>
          <div class="col-md-8">
              <input class="form-control"
                type="text"
                placeholder="Skin Color"
                formControlName="skin_color"
                >
          </div>
        </div>
        <!-- Eye Color -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Eye color</label>
          <div class="col-md-8">
            <select class="form-control"
                    formControlName="eye_color"
                    >
              <option *ngFor="let eye of newCharacters.eye_color"  [ngValue]="eye.name">{{ eye.name }}</option>
            </select>
          </div>
        </div>
        <!-- Birth Year -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Birth year</label>
          <div class="col-md-8">
              <input class="form-control"
                      type="text"
                      placeholder="Birth year"
                      formControlName="birth_year"
                      >
          </div>
        </div>
        <!-- Gender -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Gender</label>
            <div class="form-check m-3" *ngFor="let index of newCharacters.gender">
              <input class="form-check-input"
                      type="radio"
                      formControlName="gender"
                      name="gender"
                      value="{{ index.name }}"
                      >
              <label class="form-check-label">
                {{ index.name }}
              </label>
            </div>
          </div>
        <!-- homeworld -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Homeworld</label>
          <div class="col-md-8">
              <select class="form-control"
                      formControlName="planet"
                      >
                <option *ngFor="let planet of selectPlanets"  [ngValue]="planet.name">{{ planet.name }}</option>
              </select>
          </div>
        </div>
        <!-- Button Create -->
        <div class="form-group row">
          <label class="col-2 col-form-label">&nbsp;</label>
          <div class="input-group col-md-8">
            <button [disabled]="!forma.valid"
                    type="submit"
                    class="btn btn-outline-primary">
              Create
            </button>
          </div>
        </div>
      </form>
</div>