<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <a class="navbar-brand" href="#">
    <img width="50" src="../../src/assets/images/icon_darth_vader.png">
    Star Wars API
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="people">Characters</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="planets">Planets</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="myCharacters">My Characters</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/newCharacters">New Characters</a></li>
    </ul>
  </div>
  
</nav>
